<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>
    <header>
        
    </header>
   
        <main>
            <h1 class="main-title">The project  Cornerstones</h1><br>


            <div class="portfolio">
                <div class="portfolio-card">
                    <figure>
                        <img src="card5.jpg" alt="Project 1" />
                        
                        <figcaption><h3>Project 1</h3></figcaption>
                    </figure>
                </div>

                <div class="portfolio-card">
                    <figure>
                        <img src="img/card1.jpg" alt="Project 2" />
                        <figcaption> <h3>Project 2</h3figcaption></figcaption>
                    </figure>
                </div>

                <div class="portfolio-card">
                    <figure>
                        <img src="img/card4.jpg" alt="Project 2" />
                        <figcaption><h3>Project 3</h3></figcaption>
                    </figure>
                </div>
                <div class="portfolio-card">
                    <figure>
                        <img src="img/card3.jpg" alt="Project 2" />
                        <figcaption><h3>Project 4</h3></figcaption>
                    </figure>
                </div>

                <div class="portfolio-card">
                    <figure>
                        <img src="img/card2.jpg" alt="Project 2" />
                        <figcaption><h3>Project 5</h3></figcaption>
                    </figure>
                </div>

                <div class="portfolio-card">
                    <figure>
                        <img src="img/card6.jpg" alt="Project 2" />
                        <figcaption><h3>Project 6</h3></figcaption>
                    </figure>
                </div>
            </div>
        </main>
    <footer>
                
    </footer>
            
</body>
</html>
        
